
@{
    ViewBag.Title = "Config";
}
<div class="form-group">

    <div class="col-md-6"><h2>All Config</h2></div>
    <div class="col-md-6"><button type="button" id="create" class="btn btn-primary pull-right">Create</button></div>
    <div class="table">
        <table id="config" class="table table-hover"></table>
    </div>

</div>
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Config detail</h4>
            </div>
            <div class="modal-body">
                <form id="form" class="form-horizontal">
                    <input class="form-control" id="Id" name="Id" type="hidden">
                    <div class="form-group">
                        <label for="Domain" class="control-label col-md-2">Domain</label>
                        <div class="col-md-10">
                            <input style="min-width: 100%" class="form-control" id="Domain" name="Domain" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Status" class="control-label col-md-2">Status</label>
                        <div class="col-md-10">
                            <select class="form-control" id="Status" name="Status">
                                <option value="">---Select---</option>
                                <option value=0>Deactive</option>
                                <option value=1>Active</option>
                            </select>
                            @*<input style="min-width: 100%" class="form-control" id="Status" name="Status" type="text">*@
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="XpathTitle" class="control-label col-md-2">XpathTitle</label>
                        <div class="col-md-10">
                            <input style="min-width: 100%" class="form-control" id="XpathTitle" name="XpathTitle" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="XpathTime" class="control-label col-md-2">XpathTime</label>
                        <div class="col-md-10">
                            <input style="min-width: 100%" class="form-control" id="XpathTime" name="XpathTime" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="XpathContentHtml" class="control-label col-md-2">XpathContentHtml</label>
                        <div class="col-md-10">
                            <input style="min-width: 100%" class="form-control" id="XpathContentHtml" name="XpathContentHtml" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="DateTimeFormat" class="control-label col-md-2">DateTimeFormat</label>
                        <div class="col-md-10">
                            <input style="min-width: 100%" class="form-control" id="DateTimeFormat" name="DateTimeFormat" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="RegexTime" class="control-label col-md-2">RegexTime</label>
                        <div class="col-md-10">
                            <input style="min-width: 100%" class="form-control" id="RegexTime" name="RegexTime" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="RegexDate" class="control-label col-md-2">RegexDate</label>
                        <div class="col-md-10">
                            <input style="min-width: 100%" class="form-control" id="RegexDate" name="RegexDate" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="RegexIdFromUrl" class="control-label col-md-2">RegexIdFromUrl</label>
                        <div class="col-md-10">
                            <input style="min-width: 100%" class="form-control" id="RegexIdFromUrl" name="RegexIdFromUrl" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="XpathSnippet" class="control-label col-md-2">XpathSnippet</label>
                        <div class="col-md-10">
                            <input style="min-width: 100%" class="form-control" id="XpathSnippet" name="XpathSnippet" type="text">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        // Send an AJAX request
        getData();
    });


    function getData() {
        var uri = '../api/Config/getConfig';
        $.getJSON(uri)
            .done(function (data) {
                var content;
                content += "<thead><tr>" +
                    "<th class='sorting'>Id&nbsp;</th>" +
                    "<th class='sorting'>Domain&nbsp;</th>" +
                    "<th class='sorting'>Status&nbsp;</th>" +
                    "</tr></thead><tbody>";
                // On success, 'data' contains a list of products.
                $.each(data, function (i, data) {
                    content += "<tr><td id='Id'>";
                    content += data.Id || "";
                    content += "</td><td id='Domain'>";
                    content += data.Domain || "";
                    content += "</td><td id='Status'>";
                    if (data.Status == 1) {
                        content += "Active";
                    } else
                        content += "Deactive";
                    content += "</td><td style='display:none;' id='XpathTitle'>";
                    content += data.XpathTitle || "";
                    content += "</td><td style='display:none;' id='XpathTime'>";
                    content += data.XpathTime || "";
                    content += "</td><td style='display:none;' id='XpathContentHtml'>";
                    content += data.XpathContentHtml || "";
                    content += "</td><td style='display:none;' id='DateTimeFormat'>";
                    content += data.DateTimeFormat || "";
                    content += "</td><td style='display:none;' id='RegexTime'>";
                    content += data.RegexTime || "";
                    content += "</td><td style='display:none;' id='RegexDate'>";
                    content += data.RegexDate || "";
                    content += "</td><td style='display:none;' id='RegexIdFromUrl'>"
                    content += data.RegexIdFromUrl || "";
                    content += "</td><td style='display:none;' id='XpathSnippet'>";
                    content += data.XpathSnippet || "";
                    content += "</td></tr>";
                    //content += "<tr><td id='Id'>" + data.Id + "</td><td id='Domain'>" + data.Domain + "</td><td id='XpathTitle'>" + data.XpathTitle + "</td><td id='XpathTime'>" + data.XpathTime + "</td><td id='XpathContentHtml'>" + data.XpathContentHtml + "</td><td id='DateTimeFormat'>" + data.DateTimeFormat + "</td><td id='RegexTime'>" + data.RegexTime + "</td><td id='RegexDate'>" + data.RegexDate + "</td><td id='RegexIdFromUrl'>" + data.RegexIdFromUrl + "</td><td id='XpathSnippet'>" + data.XpathSnippet + "</td></tr>";
                });
                content += "</tbody>";
                $('#config').html(content);

                $("#config tbody tr").click(function () {
                    $(this).children("td").each(function () {
                        $("#form").find("#" + $(this).attr("id")).val($(this).html());
                    });
                    if ($(this).find("#Status").html() == "Active") 
                        $("#form").find("#Status").val(1);
                    else
                        $("#form").find("#Status").val(0);
                    $(".modal-footer").children().remove("#createtmp");
                    $(".modal-footer").children().remove("#save");
                    $(".modal-footer").children().remove("#delete");
                    $(".modal-footer").append("<button type=\"button\" id=\"save\" class=\"btn btn-primary pull-left\">Save</button>");
                    $(".modal-footer").append("<button type=\"button\" id=\"delete\" class=\"btn btn-danger pull-left\">Delete</button>");
                    $("#myModal").modal();

                    $("#save").click(function () {
                        $.ajax({
                            type: "POST",
                            url: "../api/Config",
                            data: $("#form").serialize(),
                            success: function (data) {
                                if (data == true) {
                                    alert("Add sucess!");
                                    getData();
                                    $("#myModal").modal('toggle');
                                } else
                                    alert("Add error!");
                            },
                            error: function () {
                                alert("Add error!")
                            }
                        })
                    });

                    $("#delete").click(function () {
                        var id = $("[name=Id]").val();
                        $.ajax({
                            type: "DELETE",
                            url: "../api/config/delete/" + id,
                            success: function (data) {
                                if (data == true) {
                                    alert("Remove sucess!");
                                    getData();
                                    $("#myModal").modal('toggle');
                                } else
                                    alert("Remove error!");
                            },
                            error: function () {
                                alert("Remove error!")
                            }
                        })
                    });
                });

                $("#create").click(function () {
                    $("#form :input").each(function () {
                        //console.log($("form#form").find($(this).attr("id")).val());
                        $(this).val("");
                    });
                    $(".modal-footer").children().remove("#createtmp");
                    $(".modal-footer").children().remove("#save");
                    $(".modal-footer").children().remove("#delete");
                    $(".modal-footer").append("<button type=\"button\" id=\"createtmp\" class=\"btn btn-primary pull-left\">Create</button>");
                    $("#myModal").modal();

                    $("#createtmp").click(function () {
                        $.ajax({
                            type: "PUT",
                            url: "../api/Config",
                            data: $("#form").serialize(),
                            success: function (data) {
                                if (data == true) {
                                    alert("Add sucess!");
                                    getData();
                                    $("#myModal").modal('toggle');
                                } else
                                    alert("Add error!");
                            }, error: function (data) {
                                alert("Add error!");
                            }
                        });
                    });
                });
                $("th.sorting").click(function () {
                    var a = $(this).children("i");
                    if (a.length != 0 && a.first().hasClass("fa-sort-amount-down")) {
                        $("i").remove();
                        $(this).append("<i class='fas fa-sort-amount-up'></i>")
                    } else {
                        $("i").remove();
                        $(this).append("<i class='fas fa-sort-amount-down'></i>")
                    }
                })
            });
    }
</script>

